@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 1em;
    font-family: 'Raleway', sans-serif;
}

a:hover {
    text-decoration: underline;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section > h1 {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    
}

section > p {
    font-weight: 500;
    font-size: 24px;
    color: #737373;
    line-height: 38px;
    text-align: center;
}

section > a {
    font-weight: bold;
    font-size: 24px;
    color: #5956E9;
    text-align: center;
    display: block;
    text-decoration: none;
}

section > .image {
    width: 100%;
    background-size: cover;
}


#section1 > h1 {
    line-height: 65px;
    max-width: 350px;
    padding-block: 70px 16px;
}

#section1 > p {
    max-width: 320px;
    padding-block: 20px;
}

#section1 > input[type="button"] {
    cursor: pointer;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    background-color: #5956E9;
    outline-color: #8584e7;
    opacity: .8;
    transition: all .3s;
    padding: 22px 30px;
    border-radius: 10px;
    margin-bottom: 64px;
}

#section1 > input[type="button"]:hover {
    opacity: 1;
}

#section1 > .image{
    background: url('../images/sally01.png') no-repeat center left;
    height: 540px;
}

#section2 > h2 {
    font-weight: 600;
    font-size: 34px;
    text-align: center;
    color: #333333;
    padding-block: 100px 76px;
}

#section2 > h1 {
    max-width: 336px;
    padding-block: 35px;
}

#section2 > p {
    max-width: 336px;
}

#section2 > .image{
    background: url('../images/screen-find-your-gadget.png') no-repeat center center;
    height: 700px;
}

#section3 > h1 {
    max-width: 336px;
    padding-block: 80px 20px;
}

#section3 > p {
    max-width: 300px;
    padding-bottom: 32px;
}

#section3 > .image {
    background: url('../images/screen-carrocel.png') no-repeat center center;
    height: 590px;    
}


#section4 > a {
    margin-block: 56px 34px;
}

#section4 > h1 {
    padding-bottom: 26px;
}

#section4 > p {
    max-width: 251px;
    padding-bottom: 49px;
}

#section4 > .image {
    background: url('../images/screen-search.png') no-repeat center center;
    height: 556px;
}


#section5 {
    background-color: #FAB8C5;
}

#section5 > h1 {
    color: #5956E9;
    max-width: 335px;
    padding-block: 60px 22px;
}

#section5 > .image {
    background: url('../images/screen-store.png') no-repeat bottom;
    height: 620px;
}


#section6 > h1 {
    max-width: 382px;
    line-height: 57px;
    padding-block: 107px 20px;
}

#section6 > .image {
    background: url('../images/social-media.png') no-repeat center;
    height: 420px;
}


footer > p {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    padding-block: 22px;
}

footer > p > a {
    color: #5C5C5C;
    text-decoration: none;
}